# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
stationery/stationery/db_conn.py
# Virtual environment
venv/
env/
z
# Django specific
*.sqlite3
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Custom files (e.g., your database settings)
