{% extends "base.html" %}

{% block title %}Items{% endblock %}

{% block header %}Edit Item{% endblock %}
{% load static %}
{% block content %}

<div class="col-md-9 offset-md-1">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Item Form</h3>

        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="{% url 'item_update' items.item_id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="ItemName">Item Name</label>
                        <input type="text" name="item_name" value="{{items.item_name}}" class="form-control" id="ItemName"
                            placeholder="Item Name" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="SupplierContact">Item Description</label>
                        <input type="text" name="item_desc" value="{{items.item_desc}}" class="form-control" id="SupplierContact"
                            placeholder="Item Description" required />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="ItemCategory">Category</label>
                        <select name="cate_id" class="form-control" >
                            <option value="">Select Category</option>
                            {% for category in categories %}
                            <option value="{{ category.cate_id }} "{%if category.cate_id == items.cate_id_id %} selected {% endif %}>{{ category.cate_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ItemImage">Image</label>
                        <div class="custom-file">
                            <input type="file" name="item_img" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
                 <div class="form-group col-md-4 offset-8 "> 
              <div style="display: flex; justify-content: center; margin-top: 20px;">
                 <img class="profile-user-img img-fluid img-circle shadow-lg rounded " 
                 src="{% if items.item_img %}/media/{{items.item_img }}{% else %}{% static 'dist/img/no-img.jpeg' %}{% endif %}" style="width: 150px; height: 150px;" alt="">
              </div>
              </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'item' %}" class="btn btn-success float-right">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}