{% extends "base.html" %}

{% block title %}Category{% endblock %}

{% block header %}Edit Category{% endblock %}

{% block content %}

<div class="col-md-6">

	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Edit Category Form</h3>
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<form action="{% url 'category_update' category.cate_id %}" method="POST">
			{% csrf_token %}
			<div class="card-body">
				<div class="form-group">
					<label for="CategoryName">Category Name</label>
					<input type="text" name="cate_name" value="{{ category.cate_name }}" class="form-control" id="CategoryName"
						placeholder="Category Name" required />
				</div>
				<div class="form-group">
					<label>Category Description</label>
					<textarea class="form-control" rows="3" name="cate_desc" placeholder="Enter ..."
						style="height: 69px;" required>{{ category.cate_desc }}</textarea>
				</div>
			</div>

			<div class="card-footer">
				<button type="submit" class="btn btn-warning">Update</button>
				<a href="{% url 'category' %}" class="btn btn-success float-right">Back</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}